@import '../../shared/variables.scss';

.d-none {
    display: none;
}

.arrow-left {
    cursor: pointer;
    position: absolute;
    right: 200px;
    top: 160px;
}

.main-content {
    @include flex_direction_column;
    align-items: flex-start;
    margin-top: -35px;
    padding-right: 200px;    
    background-color: $main_bg_color;
    color: #000000;
    margin-left: var(--nav-width);
    margin-top: var(--header-height);
    padding-left: calc(355px - var(--nav-width));

    h1 {
        @include font(61px, 700, 73.2px);
    }

    h2 {
        @include font(27px, 700, 32.4px);
    }
}

.howToUserHeadline {
    margin: unset;
}

.explainMainContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

span {
    @include font(16px, 400, 19.2px);
    color: #29ABE2;
}

.explain-container {
    @include align_items_center;
    gap: 35px;

    p {
        margin-top: 0;
        margin-bottom: auto;
    }
}

.number {
    @include font(27px, 700, 32.4px);
}

@media(max-width: 1200px) {
    .main-content {
        margin-top: 0;
        padding-top: calc(178px - var(--header-height));
    }

    .arrow-left {
        right: 50px;
    }
}

@media(max-width: 1000px) {
    .arrow-left {
        display: none;
    }

    .arrow-left-mobile {
        display: block !important;
        cursor: pointer;
        position: absolute;
        top: 132px;
        right: 30px;
    }

    .arrow-left-mob img {
        height: 25px;
    }

    .headline-mobile {
        text-align: center;
        display: block !important;
        margin-top: 136px;
        font-size: 16px;
        line-height: 120%;
    }

    .main-content {
        @include padding_left_right(25px, 25px);
        padding-top: unset;
        margin-left: unset;

        h1 {
            margin-bottom: 35px;
            font-size: 47px !important;
            line-height: 120% !important;
        }
    }

    .third-headline {
        display: none;
    }

    .explainMainContainer {
        margin-bottom: 70px;
    }
}