<div class="start-bg">
    <div class="content">
        <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
            <a routerLink="/login" class="back-img back-img-forgot-pw"><img src="assets/img/arrow_left.png" alt="back-img"></a>
            <a routerLink="/login" class="back-img-forgot-pw-mobile d-none"><img src="assets/img/arrow_left_mobile.png" alt=""></a>
            <span class="heading-span heading-span-forgot-pw">I forgot my password</span>
            <img class="underline" src="assets/img/underline.png" alt="underline">
            <img class="underline-mobile d-none" src="assets/img/log_in_underline_mob.png" alt="">
            <span class="span-font">
              Don't worry! We will send you an email with the instructions to
              reset your password.
            </span>
            <span class="msg-box" [class.d-none]="!isError">Wrong email. Please try again.</span>
            <input class="input-email-img input-email-pw input-email-forgot-pw" type="email" placeholder="Email" formControlName="email">
            <button type="submit" class="send-email-btn btn-font send-email-btn-font">Send me the email</button>
          </form>
          <img [class.d-none]="!isEmailSent" src="assets/img/sent_message_info.png" alt="email sent">
    </div>
</div>