@import "../../shared/variables.scss";

.d-none {
    display: none;
}

.content {
    @include flex_column_center;
    @include width_height(100%, 100vh);
}

form {
    @include column_center;
    width: 826px;
    gap: 35px;
    background-color: white;
    box-shadow: 0 0 14px 3px rgba(0, 0, 0, 0.04);
    border-radius: 30px;
    position: relative;
    padding-top: 90px;
    padding-bottom: 35px;
}

.heading-span {
    @include font(61px, 700, 73.2px);
    margin-top: -50px;
    letter-spacing: 0em;
    text-align: center;
}

::placeholder {
    @include font(18px, 400, 25.2px);
    color: #d1d1d1;
}

.input-email-pw {
    @include align_items_center;
    @include width_height(422px, 51px);
    gap: 10px;
    border-radius: 10px;
    border: 1px solid #d1d1d1;
    padding: 13px 21px;
    box-sizing: border-box;
}

.input-email-img {
    background-image: url(/assets/img/input_email_img.png);
    background-repeat: no-repeat;
    background-position: calc(100% - 15px);
}

.back-img {
    cursor: pointer;
    position: absolute;
    top: 60px;
    left: 50px;
}

.send-email-btn {
    @include width_height(264px, 51px);
    @include button_styles;
    background-color: $main_color_dark;
    color: white;
    margin-top: 6px;
    border: none;
    border-radius: 8px;
    font-size: 21px;

    &:not([disabled]):hover {
        background: $main_color_bright;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        transition: all 125ms ease-in-out;
    }

    &[disabled] {
        cursor: not-allowed;
        pointer-events: none;
        filter: contrast(0.5);
    }
}

.emailSentImg {
    width: 300px;
}

@media (max-width: 900px) {
    form {
        width: 360px;
    }

    .span-font {
        width: 285px;
    }

    .input-email-forgot-pw {
        width: 285px !important;
        margin: 25px !important;
    }

    .heading-span-forgot-pw {
        font-size: 40px !important;
        line-height: 120% !important;
    }

    .back-img-forgot-pw {
        display: none;
    }

    .back-img-forgot-pw-mobile {
        display: block;
        position: absolute;
        top: 55px;
        left: 25px;
    }

    .send-email-btn {
        width: 180px;
    }

    .send-email-btn-font {
        font-size: 16px !important;
    }

    .messageContainer {
        width: 320px;
    }

    .msg-box {
        flex-direction: column;
    }

    .errorNotice {
        width: 90%;
    }
}

@media (max-width: 700px) {
    .underline {
        display: none;
    }

    .heading-span {
        font-size: 47px;
    }

    .underline-mobile {
        display: block;
    }

    .back-img {
        display: none;
    }

    form {
        width: 320px;
    }
}
