<div class="add-contact-menu">
    <div class="contact-form-left">
        <img class="contact-form-logo" src="assets/img/join_logo_add_contact.png">
        <h1>Add Contact</h1>
        <p>Tasks are better with a team!</p>
        <img class="contact-form-underline" src="assets/img/add_contact_underline.png">
    </div>
    <div class="contact-form-right">
        <img class="user-icon" src="assets/img/contact_user_icon.png">
        <div class="contact-input-container">
            <div class="icon-top-right">
                <img class="close-popup-mobile" src="assets/img/x_ixon.png" (click)="closeDialogEditContact()">
                <img class="close" src="assets/img/xicon.svg" (click)="closeDialogEditContact()">
            </div>
            <form [formGroup]="editForm" (ngSubmit)="onSubmit()">

                <!-- Firstname section -->
                <input class="input-name-img" type="text" placeholder="Firstname" formControlName="firstname">
                <div *ngIf="submitted && editForm.get('firstname')?.errors?.['required']" class="warning">
                    Please enter a firstname.
                </div>


                <!-- Lastname section -->
                <input class="input-name-img" type="text" placeholder="Lastname" formControlName="lastname">
                <div *ngIf="submitted && editForm.get('lastname')?.errors?.['required']" class="warning">
                    Please enter a lastname.
                </div>

                <!-- Email section -->
                <input class="input-email-img" type="email" placeholder="Email" formControlName="email">
                <div *ngIf="submitted && editForm.get('email')?.errors?.['required']" class="warning">
                    Please enter a email.
                </div>
                <div *ngIf="submitted && editForm.get('email')?.errors?.['email']" class="warning">
                    Please enter a valid email address with an '@' character.
                </div>

                <!-- Phone section -->
                <input class="input-phone-img" type="text" placeholder="Phone" formControlName="phone">

                <div class="contact-popup-bottom">
                    <input class="p-none" type="color" [value]="editForm.get('color')?.value ?? '#000000'"
                        formControlName="color">
                    <button mat-raised-button class="disabled-conditions">
                        Save Contact <img src="assets/img/checkmark.png">
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>