<app-header></app-header>
<app-nav-bar></app-nav-bar>

<div class="board-section">
    <div class="board-header">

        <!-- Headline for mobile version -->
        <div class="headline-mobile d-none">Kanban Project Management Tool</div>

        <div class="board-add-task width">
            <h2>Board</h2>
            <button class="add-task-btn-mobile d-none" (click)="openDialogAddTask('todo')">+</button>
        </div>

        <!-- Search section for the board -->
        <div class="search-container">
            <div class="search-box">
                <input #searchInput type="text" placeholder="Find Task" [(ngModel)]="searchTerm"
                    (keyup)="filterTasks()">
                <div class="dividing-line"></div>
                <div class="search-icon"><img src="assets/img/magnifier.png"></div>
            </div>
            <button class="add-task hide-add-task" (click)="openDialogAddTask('todo')">Add Task +</button>
        </div>
    </div>

    <!-- Main content of the board -->
    <div cdkDropListGroup>
        <div class="board-content">
            <div class="statusContainer">
                <div class="status">
                    <h2>To do</h2>
                    <button class="add-task" (click)="openDialogAddTask('todo')"
                        title="Add task with status todo">+</button>
                </div>

                <!-- Current status -->
                <div cdkDropList id="todoList" [cdkDropListData]="todo"
                    [cdkDropListConnectedTo]="['inProgressList', 'awaitingFeedbackList', 'doneList']" class="statusList"
                    (cdkDropListDropped)="drop($event)">

                    <!-- Loop over all tasks in todo -->
                    <div class="satusBox" *ngFor="let task of todo" (mousedown)="onMousedown($event)"
                        (mouseup)="onMouseup($event, task.id)" cdkDrag
                        title="Click to open task-detail-menu. Hold to drag&drop the task to another status">
                        <div class="card-head" [style.background-color]="task.category.color">{{ task.category.name }}
                        </div>

                        <!-- Task title and description -->
                        <div class="card-body">
                            <h4>{{ task.title }}</h4>
                            <p>{{ task.description }}</p>
                        </div>

                        <!-- Subtask content -->
                        <mat-progress-bar *ngIf="task.subtasks.length > 0" mode="determinate"
                            [value]="calculateProgress(task.subtasks)"></mat-progress-bar>
                        <span *ngIf="task.subtasks.length > 0">{{ subtaskCountsMap.get(task.id)?.checked }}/{{
                            subtaskCountsMap.get(task.id)?.total }}
                            Subtasks</span>

                        <!-- Assigned To content -->
                        <div class="priotity-users">
                            <div class="users">
                                <div class="circle" *ngFor="let contact of task.assigned_to"
                                    [style.background-color]="contact.color">
                                    {{ getInitials(contact.firstname, contact.lastname) }}
                                </div>
                            </div>

                            <!-- Priority -->
                            <div class="priority"><img [src]="getPriorityImage(task.priority)" alt="Priority"></div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="statusContainer">
                <div class="status">
                    <h2>In Progress</h2>
                    <button class="add-task" (click)="openDialogAddTask('in_progress')"
                        title="Add task with status in-progress">+</button>
                </div>

                <!-- Current status -->
                <div cdkDropList id="inProgressList" [cdkDropListData]="inProgress"
                    [cdkDropListConnectedTo]="['todoList', 'awaitingFeedbackList', 'doneList']" class="statusList"
                    (cdkDropListDropped)="drop($event)">

                    <!-- Loop over all tasks in todo -->
                    <div class="satusBox" *ngFor="let task of inProgress" (mousedown)="onMousedown($event)"
                        (mouseup)="onMouseup($event, task.id)" cdkDrag
                        title="Click to open task-detail-menu. Hold to drag&drop the task to another status">
                        <div class="card-head" [style.background-color]="task.category.color">{{ task.category.name }}
                        </div>

                        <!-- Task title and description -->
                        <div class="card-body">
                            <h4>{{ task.title }}</h4>
                            <p>{{ task.description }}</p>
                        </div>

                        <!-- Subtask content -->
                        <mat-progress-bar *ngIf="task.subtasks.length > 0" mode="determinate"
                            [value]="calculateProgress(task.subtasks)"></mat-progress-bar>
                        <span *ngIf="task.subtasks.length > 0">{{ subtaskCountsMap.get(task.id)?.checked }}/{{
                            subtaskCountsMap.get(task.id)?.total }}
                            Subtasks</span>

                        <!-- Assigned To content -->
                        <div class="priotity-users">
                            <div class="users">
                                <div class="circle" *ngFor="let contact of task.assigned_to"
                                    [style.background-color]="contact.color">
                                    {{ getInitials(contact.firstname, contact.lastname) }}
                                </div>
                            </div>

                            <!-- Priority -->
                            <div class="priority"><img [src]="getPriorityImage(task.priority)" alt="Priority"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="statusContainer">
                <div class="status">
                    <h2>Awaitng Feedback</h2>
                    <button class="add-task" (click)="openDialogAddTask('awaiting_feedback')"
                        title="Add task with status awaiting feedback">+</button>
                </div>

                <!-- Current status -->
                <div cdkDropList id="awaitingFeedbackList" [cdkDropListData]="awaitingFeedback"
                    [cdkDropListConnectedTo]="['todoList', 'inProgressList', 'doneList']" class="statusList"
                    (cdkDropListDropped)="drop($event)">

                    <!-- Loop over all tasks in todo -->
                    <div class="satusBox" *ngFor="let task of awaitingFeedback" (mousedown)="onMousedown($event)"
                        (mouseup)="onMouseup($event, task.id)" cdkDrag
                        title="Click to open task-detail-menu. Hold to drag&drop the task to another status">
                        <div class="card-head" [style.background-color]="task.category.color">{{ task.category.name }}
                        </div>

                        <!-- Task title and description -->
                        <div class="card-body">
                            <h4>{{ task.title }}</h4>
                            <p>{{ task.description }}</p>
                        </div>

                        <!-- Subtask content -->
                        <mat-progress-bar *ngIf="task.subtasks.length > 0" mode="determinate"
                            [value]="calculateProgress(task.subtasks)"></mat-progress-bar>
                        <span *ngIf="task.subtasks.length > 0">{{ subtaskCountsMap.get(task.id)?.checked }}/{{
                            subtaskCountsMap.get(task.id)?.total }}
                            Subtasks</span>

                        <!-- Assigned To content -->
                        <div class="priotity-users">
                            <div class="users">
                                <div class="circle" *ngFor="let contact of task.assigned_to"
                                    [style.background-color]="contact.color">
                                    {{ getInitials(contact.firstname, contact.lastname) }}
                                </div>
                            </div>

                            <!-- Priority -->
                            <div class="priority"><img [src]="getPriorityImage(task.priority)" alt="Priority"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="statusContainer">
                <div class="status">
                    <h2>Done</h2>
                    <button class="add-task" (click)="openDialogAddTask('done')"
                        title="Add task with status done">+</button>
                </div>

                <!-- Current status -->
                <div cdkDropList id="doneList" [cdkDropListData]="done"
                    [cdkDropListConnectedTo]="['todoList', 'inProgressList', 'awaitingFeedbackList']" class="statusList"
                    (cdkDropListDropped)="drop($event)">

                    <!-- Loop over all tasks in todo -->
                    <div class="satusBox marginBottom" *ngFor="let task of done" (mousedown)="onMousedown($event)"
                        (mouseup)="onMouseup($event, task.id)" cdkDrag
                        title="Click to open task-detail-menu. Hold to drag&drop the task to another status">
                        <div class="card-head" [style.background-color]="task.category.color">{{ task.category.name }}
                        </div>

                        <!-- Task title and description -->
                        <div class="card-body">
                            <h4>{{ task.title }}</h4>
                            <p>{{ task.description }}</p>
                        </div>

                        <!-- Subtask content -->
                        <mat-progress-bar *ngIf="task.subtasks.length > 0" mode="determinate"
                            [value]="calculateProgress(task.subtasks)"></mat-progress-bar>
                        <span *ngIf="task.subtasks.length > 0">{{ subtaskCountsMap.get(task.id)?.checked }}/{{
                            subtaskCountsMap.get(task.id)?.total }}
                            Subtasks</span>

                        <!-- Assigned To content -->
                        <div class="priotity-users">
                            <div class="users">
                                <div class="circle" *ngFor="let contact of task.assigned_to"
                                    [style.background-color]="contact.color">
                                    {{ getInitials(contact.firstname, contact.lastname) }}
                                </div>
                            </div>

                            <!-- Priority -->
                            <div class="priority"><img [src]="getPriorityImage(task.priority)" alt="Priority"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>