<div class="mainContent">
    <h1 mat-dialog-title>Guest Login</h1>
    <div mat-dialog-content>
        <h2>Herzlich Willkommen!</h2>
        <p>
            Vielen Dank, dass Sie sich die Zeit nehmen, unsere App zu erkunden. Um Ihnen ein vollständiges Erlebnis zu
            bieten, haben wir alle Funktionen der App auch für Gastnutzer freigeschaltet. So können Sie jede Facette
            unserer Anwendung in Ruhe ausprobieren und kennenlernen, ohne Einschränkungen.
        </p>
    </div>
    <div mat-dialog-actions>
        <button mat-button mat-dialog-close>Login</button>
    </div>
</div>