<nav>
    <img class="summary-logo" routerLink="/summary" src="assets/img/join_logo_nav.png">

    <div class="nav-bar">
        <a class="nav-main" routerLink="/summary" routerLinkActive="active">
            <div class="nav-content">
                <div class="nav-icon-container"><img src="assets/img/summary-logo.png"></div>
                <div>Summary</div>
            </div>
        </a>
        <a class="nav-main" routerLink="/board" routerLinkActive="active">
            <div class="nav-content">
                <div class="nav-icon-container"><img src="assets/img/board-logo.png"></div>
                <div>Board</div>
            </div>
        </a>
        <a class="nav-main" routerLink="/add-task" routerLinkActive="active">
            <div class="nav-content">
                <div class="nav-icon-container"><img src="assets/img/add-task-logo.png"></div>
                <div>Add Task</div>
            </div>
        </a>
        <a class="nav-main" routerLink="/contacts" routerLinkActive="active">
            <div class="nav-content">
                <div class="nav-icon-container"><img src="assets/img/contacts-logo.png"></div>
                <div>Contacts</div>
            </div>
        </a>
    </div>

    <div class="infoContainer">
        <a class="legal-notice" routerLink="/privacy-policy" routerLinkActive="active">
            <div class="nav-content">
                <div class="nav-icon-container"></div>
                <div>Privacy policy</div>
            </div>
        </a>
    
        <a class="legal-notice" routerLink="/legal-notice" routerLinkActive="active">
            <div class="nav-content">
                <div class="nav-icon-container"></div>
                <div>Legal notice</div>
            </div>
        </a>
    </div>

</nav>
