<img class="join-logo logo-animation" src="assets/img/join_logo.png" alt="join-logo">
<img class="d-none" [class.animation-stop]="animationStopped" id="animation-mobile"
    src="assets/img/animation_mobile.png" alt="animation mobile">

<div class="start-bg">
    <div class="content">
        <div class="sign-up">
            <span>Not a Join user?</span>
            <button routerLink="/signup">Sign up</button>
        </div>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <span class="heading-span">Log in</span>
            <span class="msg-box" [class.d-none]="!isEmailPasswordInvalid">Invalid email or password!</span>
            <img src="assets/img/underline.png" alt="underline" class="underline">
            <img src="assets/img/log_in_underline_mob.png" alt="underline-mobile" class="underline-mobile d-none">

            <input class="input-email-pw input-email-img" type="text" placeholder="Username" formControlName="username">
            <input class="input-email-pw input-password-img" type="password" placeholder="Password"
                formControlName="password">

            <div class="login-bottom">
                <section class="example-section">
                    <input type="checkbox" id="rememberMe" formControlName="rememberMe">
                    <label for="rememberMe" class="login-bottom-font">Remember me</label>
                </section>
                <a routerLink="/forgot-password" class="login-bottom-font">Forgot my password</a>
            </div>

            <div class="login-buttons">
                <button [disabled]="!loginForm.valid" type="submit" class="login-btn login-btn-mob">Login</button>
                <button type="button" class="guest-login-btn login-btn-mob"
                    (click)="onGuestLogin($event)">Guest Login</button>
            </div>
        </form>
    </div>
</div>