<app-header></app-header>
<app-nav-bar></app-nav-bar>

<div class="main-container">
    <div class="title-container width-unset">
        <div class="headline-mobile d-none">Kanban Project Management Tool</div>
        <h1>Add Task</h1>
    </div>

    <!--  taskForm-Group starts here  -->
    <form [formGroup]="taskForm" (ngSubmit)="onSubmit()">
        <div class="content-container">
            <img class="add-task-btn-mobile" src="../../assets/img/create_task_btn_mobile.png" alt="Create tassk button"
                (click)="onSubmitAndNavigate()">
            <div class="taskAddedInfoMobile">
                <img *ngIf="taskAddedInfo && windowWidth  <= 1001" src="assets/img/task_added_to_board.png"
                    alt="Task added to board">
            </div>
            <div class="left-container width-unset">

                <!-- Title section -->
                <div class="selection-container">
                    <label>Title</label>
                    <div *ngIf="submitted && taskForm.get('title')?.errors?.['required']" class="warning">
                        Please enter a title.
                    </div>
                    <input type="text" placeholder="Enter a title" formControlName="title">
                </div>

                <!-- Description section -->
                <div class="selection-container">
                    <label>Description</label>
                    <div *ngIf="submitted && taskForm.get('description')?.errors?.['required']" class="warning">
                        Please enter a description.
                    </div>
                    <textarea placeholder="Enter a description" formControlName="description"></textarea>
                </div>

                <!--  Category section  -->
                <div class="selection-container prevent-select">
                    <label>Category</label>
                    <div *ngIf="submitted && !selectedCategory" class="warning">
                        Please select a category.
                    </div>
                    <div class="select-wrapper" #handleCategoryMenu>
                        <div class="category-inputs" *ngIf="categoryMenu">
                            <div [formGroup]="categoryForm">
                                <input type="text" placeholder="Create new category" formControlName="name">
                                <input class="color-picker" type="color" formControlName="color" value="#000000">
                            </div>
                            <img class="category-accept category-member-selection"
                                src="../../assets/img/icon_check_subtask.svg" alt="category-accept"
                                (click)="createNewCategory()">
                            <img class="category-cancel category-member-selection"
                                src="../../assets/img/icon_cancel_subtask.svg" alt="close-wrapper"
                                (click)="closeCategoryMenu($event)">
                            <div class="member-category-wrapper category-wrapper">
                                <div class="each-member-category each-category" *ngFor="let category of categories"
                                    (click)="clickOnCategory(category)">
                                    <p>{{ category.name }}</p>
                                    <div class="category-color" [style.background]="category.color"></div>
                                    <img src="/assets/img/edit_category.png" alt="Delete category"
                                        title="Delete category"
                                        (click)="category.id !== undefined && openDialogHandleCategories(category.id, $event)">
                                </div>
                            </div>
                        </div>
                        <div class="sector-top" *ngIf="!categoryMenu" (click)="toggleCategoryMenu($event)">
                            <p>{{ selectedCategory ? selectedCategory.name : 'Select your Category' }}</p>
                            <img src="../../assets/img/arrow_down.png">
                        </div>
                    </div>
                </div>
                <!--  Category section  -->

                <!--  Assigned To section  -->
                <div class="selection-container prevent-select">
                    <label>Assigned To</label>
                    <div *ngIf="submitted && taskForm.get('assigned_to')?.errors?.['required']" class="warning">
                        Please select members.
                    </div>
                    <div class="select-wrapper assigned-to-wrapper" #handleASsignedToMenu>
                        <div class="postion-relative" *ngIf="assignedToMenu">
                            <span>Select your members</span>
                            <img class="category-accept category-member-selection"
                                src="../../assets/img/icon_check_subtask.svg" alt="category-accept"
                                (click)="membersSelected()">
                            <img class="category-cancel category-member-selection"
                                src="../../assets/img/icon_cancel_subtask.svg" alt="close-wrapper"
                                (click)="cancelSelection()">
                            <div class="member-category-wrapper">
                                <div class="each-member-category" *ngFor="let contact of contacts"
                                    (click)="selectContact(contact)"
                                    [ngClass]="{'selected-contact': isSelected(contact)}">
                                    {{contact.firstname}} {{contact.lastname}}
                                </div>
                            </div>
                        </div>
                        <div class="sector-top" *ngIf="!assignedToMenu" (click)="toggleAssignedToMenu($event)">
                            <p>{{ feedbackMessageMembers }}</p><img src="../../assets/img/arrow_down.png">
                        </div>
                    </div>
                </div>
            </div>
            <!--  Assigned To section  -->

            <div class="middle-gap"></div>
            <div class="right-container width-unset">
                <div class="right-container-mobile">

                    <!-- Due date section -->
                    <div class="features-container">
                        <label for="date">Due Date</label>
                        <div *ngIf="submitted && taskForm.get('due_date')?.errors?.['required']" class="warning">
                            Please select a date.
                        </div>
                        <input class="date" type="date" [min]="minDate" formControlName="due_date">
                    </div>

                    <!-- Prio section -->
                    <div class="features-container">
                        <label>Prio</label>
                        <div class="prio-btn-container">
                            <button class="prio-btn" *ngIf="!prioUrgent" (click)="setPriority('urgent')">Urgent <img
                                    src="../../assets/img/prio_urgent.png"></button>
                            <img class="prio-urgent urgentSection" *ngIf="prioUrgent"
                                src="../../assets/img/prio_urgent_btn.png">
                            <button class="prio-btn" *ngIf="!prioMedium" (click)="setPriority('medium')">Medium <img
                                    src="../../assets/img/prio_medium.png"></button>
                            <img class="prio-urgent urgentSection" *ngIf="prioMedium"
                                src="../../assets/img/prio_medium_btn.png">
                            <button class="prio-btn" *ngIf="!prioLow" (click)="setPriority('low')">Low <img
                                    src="../../assets/img/prio_low_white.png"></button>
                            <img class="prio-urgent urgentSection" *ngIf="prioLow"
                                src="../../assets/img/prio_low_btn.png">
                        </div>
                        <!-- Prio section -->

                        <!-- Subtask section -->
                        <div class="features-container">
                            <label>Subtasks</label>
                            <div class="subtask-container">
                                <input class="subtask-input" placeholder="Add new subtask" #subtaskTitleInput>
                                <img class="plus-icon" src="assets/img/plus_icon.png"
                                    (click)="addSubtask(subtaskTitleInput.value); subtaskTitleInput.value='';"
                                    title="Create subtask">
                            </div>
                            <div formArrayName="subtasks">
                                <ul *ngFor="let subtask of subtasks.controls; let i=index" [formGroupName]="i">
                                    <li>
                                        <input formControlName="title" class="subtaskList">
                                        <input hidden type="checkbox" formControlName="check" class="subtaskCheckbox">
                                        <img (click)="removeSubtask(i)" src="/assets/img/xicon.svg" alt="Remove Subtask"
                                            class="subtaskRemove">
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- Subtask section -->
                    </div>

                    <div class="taskAddedInfo">
                        <img *ngIf="taskAddedInfo && windowWidth  >= 1001" src="assets/img/task_added_to_board.png"
                            alt="Task added to board">
                    </div>

                    <div class="submit-and-clear">
                        <img class="task-added-img" *ngIf="taskAdded" src="../../assets/img/task_added_info.png"
                            alt="task-added">
                        <div *ngIf="taskCreationError" class="error-message">
                            <span>This form is invalid. Please check your input.</span>
                        </div>
                        <div class="button-container" *ngIf="!taskAdded">
                            <div class="btn-clear" (click)="onClear($event)">Clear<img class="clear-img"
                                    src="assets/img/iconoir_cancel.png">
                            </div>
                            <div>
                                <button class="btn-createTask" [disabled]="isButtonDisabled">Create Task<img
                                        src="assets/img/icons_check.png"></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <!--  taskForm-Group ends here  -->
</div>