<app-header></app-header>
<app-nav-bar></app-nav-bar>

<div class="main-container">
    <div class="title-container width-unset">
        <div class="headline-mobile d-none">Kanban Project Management Tool</div>
        <h1>Add Task</h1>
    </div>
    <form [formGroup]="todoForm" (ngSubmit)="onSubmit()">
        <div class="content-container">
            <img class="add-task-btn-mobile" src="../../assets/img/create_task_btn_mobile.png" alt="Create tassk button"
                (click)="onSubmitAndNavigate()">
            <div class="left-container width-unset">
                <div formGroupName="profileForm">
                    <div class="selection-container">
                        <label>Title</label>
                        <input type="text" placeholder="Enter a title" formControlName="title">
                    </div>
                    <div class="selection-container">
                        <label>Description</label>
                        <textarea placeholder="Enter a description" formControlName="description"></textarea>
                    </div>
                </div>
                <div>
                    <div class="selection-container prevent-select">
                        <label>Category</label>
                        <div class="select-wrapper">
                            <div class="category-inputs" *ngIf="categoryMenu">
                                <input type="text" placeholder="Category Name" formControlName="category">
                                <input class="color-picker" type="color" formControlName="color" value="#ff0000">
                                <img class="category-accept category-member-selection"
                                    src="../../assets/img/icon_check_subtask.svg" alt="category-accept"
                                    (click)="categorySelected()">
                                <img class="category-cancel category-member-selection"
                                    src="../../assets/img/icon_cancel_subtask.svg" alt="close-wrapper"
                                    (click)="toggleCategoryMenu(); resetCategory()">
                                <div class="member-category-wrapper category-wrapper">
                                    <div class="each-member-category each-category"
                                        *ngFor="let category of categories$ | async"
                                        (click)="clickOnCategory(category)">
                                        <p>{{ category.category }}</p>
                                        <div class="category-color" [style.background]="category.color"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="sector-top" *ngIf="!categoryMenu" (click)="toggleCategoryMenu()">
                                <p>{{ selectedCategory ? selectedCategory.category : 'Select your Category' }}</p>
                                <img src="../../assets/img/arrow_down.png">
                            </div>
                        </div>
                    </div>
                </div>
                <div formGroupName="profileForm">
                    <div class="selection-container prevent-select">
                        <label>Assigned To</label>
                        <div class="select-wrapper assigned-to-wrapper">
                            <div class="postion-relative" *ngIf="assignedToMenu">
                                <span>Select your members</span>
                                <img class="category-accept category-member-selection"
                                    src="../../assets/img/icon_check_subtask.svg" alt="category-accept"
                                    (click)="membersSelected()">
                                <img class="category-cancel category-member-selection"
                                    src="../../assets/img/icon_cancel_subtask.svg" alt="close-wrapper"
                                    (click)="cancelSelection()">
                                <div class="member-category-wrapper">
                                    <div class="each-member-category" *ngFor="let contact of contacts$ | async"
                                        (click)="selectContact(contact)"
                                        [ngClass]="{'selected-contact': isSelected(contact)}">
                                        {{contact.firstName}} {{contact.lastName}}
                                    </div>
                                </div>
                            </div>
                            <div class="sector-top" *ngIf="!assignedToMenu" (click)="toggleAssignedToMenu()">
                                <p>{{ feedbackMessageMembers }}</p><img src="../../assets/img/arrow_down.png">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="middle-gap"></div>
            <div class="right-container width-unset">
                <div formGroupName="profileForm" class="right-container-mobile">
                    <div class="features-container">
                        <label for="date">Due Date</label>
                        <input class="date" type="date" [min]="minDate" formControlName="date">
                    </div>
                    <div class="features-container">
                        <label>Prio</label>
                        <div class="prio-btn-container">
                            <button class="prio-btn" *ngIf="!prioUrgent" (click)="setPriority('urgent')">Urgent <img
                                    src="../../assets/img/prio_urgent.png"></button>
                            <img class="prio-urgent urgentSection" *ngIf="prioUrgent"
                                src="../../assets/img/prio_urgent_btn.png">
                            <button class="prio-btn" *ngIf="!prioMedium" (click)="setPriority('medium')">Medium <img
                                    src="../../assets/img/prio_medium.png"></button>
                            <img class="prio-urgent urgentSection" *ngIf="prioMedium"
                                src="../../assets/img/prio_medium_btn.png">
                            <button class="prio-btn" *ngIf="!prioLow" (click)="setPriority('low')">Low <img
                                    src="../../assets/img/prio_low_white.png"></button>
                            <img class="prio-urgent urgentSection" *ngIf="prioLow"
                                src="../../assets/img/prio_low_btn.png">

                        </div>
                        <div class="features-container">
                            <div class="features-container">
                                <label>Subtasks</label>
                                <div class="subtask-container">
                                    <div class="width flex-center" *ngIf="!subtaskInput">
                                        <input class="subtask-input" placeholder="Add new subtask"
                                            (click)="addSubtask()" #subtaskInput>
                                        <img class="plus-icon" src="assets/img/plus_icon.png" (click)="addSubtask()">
                                    </div>
                                    <div class="subtask-container" *ngFor="let control of getSubtasks(); index as i">
                                        <input class="subtask-input" type="text" placeholder="Add new subtask"
                                            [formControl]="control" #subtaskInput>
                                        <img *ngIf="subtaskInput" class="subtask-icons"
                                            src="../../assets/img/icon_check_subtask.svg" (click)="confirmSubtask(i)">
                                        <div *ngIf="subtaskInput" class="gap-img-subtask"></div>
                                        <img *ngIf="subtaskInput" class="subtask-icons"
                                            src="../../assets/img/icon_cancel_subtask.svg" (click)="cancelSubtask()">
                                    </div>
                                </div>


                                <div>
                                    <ul>
                                        <li *ngFor="let subtask of createdSubtasks;  index as i">
                                            {{ subtask }}
                                            <img class="delete-subtask" src="../../assets/img/icon_cancel_subtask.svg"
                                                (click)="removeSubtask(i)">
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="submit-and-clear">
                        <img class="task-added-img" *ngIf="taskAdded" src="../../assets/img/task_added_info.png"
                            alt="task-added">
                        <div *ngIf="taskCreationError" class="error-message">
                            <span>Das Formular ist ungültig. Bitte überprüfen Sie Ihre Eingaben.</span>
                        </div>
                        <div class="button-container" *ngIf="!taskAdded">
                            <div class="btn-clear" (click)="onClear($event)">Clear<img class="clear-img"
                                    src="assets/img/iconoir_cancel.png">
                            </div>
                            <div><Button class="btn-createTask" [disabled]="!taskForm.valid"
                                    (click)="onSubmitAndNavigate()">Create Task<img
                                        src="assets/img/icons_check.png"></Button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>