<div class="add-task-menu">
    <div class="header-popup">
        <h2>Edit Task</h2>
        <img class="close-header-popup" src="../../assets/img/xicon.svg" (click)="closeDialogEditTask()" title="Close menu"> 
    </div>
    <form [formGroup]="taskForm" (ngSubmit)="onSubmit()">
        <div class="content-container">
            <div class="left-container width-unset">
                <div class="selection-container">
                    <label>Title</label>
                    <input type="text" placeholder="Enter a title" formControlName="title">
                </div>
                <div class="selection-container">
                    <label>Description</label>
                    <textarea placeholder="Enter a description" formControlName="description"></textarea>
                </div>


                <!--  Category section  -->
                <div class="selection-container prevent-select">
                    <label>Category</label>
                    <span class="warning" *ngIf="categoryAlreadyExist">
                        Category already exists!
                    </span>
                    <div class="select-wrapper" #handleCategoryMenu>
                        <div class="category-inputs" *ngIf="categoryMenu">
                            <div [formGroup]="categoryForm">
                                <input type="text" placeholder="Category Name" formControlName="name">
                                <input class="color-picker" type="color" formControlName="color" value="#ff0000">
                            </div>
                            <img class="category-accept category-member-selection"
                                src="../../assets/img/icon_check_subtask.svg" alt="category-accept"
                                (click)="createNewCategory()">
                            <img class="category-cancel category-member-selection"
                                src="../../assets/img/icon_cancel_subtask.svg" alt="close-wrapper"
                                (click)="closeCategoryMenu($event)">
                            <div class="member-category-wrapper category-wrapper">
                                <div class="each-member-category each-category" *ngFor="let category of categories"
                                    (click)="clickOnCategory(category)">
                                    <p>{{ category.name }}</p>
                                    <div class="category-color" [style.background]="category.color"></div>
                                    <img src="/assets/img/edit_category.png" alt="Delete category"
                                        title="Delete category"
                                        (click)="category.id !== undefined && openDialogHandleCategories(category.id, $event)">
                                </div>
                            </div>
                        </div>
                        <div class="sector-top" *ngIf="!categoryMenu" (click)="toggleCategoryMenu($event)">
                            <p>{{ selectedCategory ? selectedCategory.name : 'Select your Category' }}</p>
                            <img src="../../assets/img/arrow_down.png">
                        </div>
                    </div>
                </div>
                <!--  Category section  -->

                <!--  Assigned To section  -->
                <div class="selection-container prevent-select">
                    <label>Assigned To</label>
                    <div class="select-wrapper assigned-to-wrapper" #handleASsignedToMenu>
                        <div class="postion-relative" *ngIf="assignedToMenu">
                            <span>Select your members</span>
                            <img class="category-accept category-member-selection"
                                src="../../assets/img/icon_check_subtask.svg" alt="category-accept"
                                (click)="membersSelected()">
                            <img class="category-cancel category-member-selection"
                                src="../../assets/img/icon_cancel_subtask.svg" alt="close-wrapper"
                                (click)="cancelSelection()">
                            <div class="member-category-wrapper">
                                <div class="each-member-category" *ngFor="let contact of contacts"
                                    (click)="selectContact(contact)"
                                    [ngClass]="{'selected-contact': isSelected(contact)}">
                                    {{contact.firstname}} {{contact.lastname}}
                                </div>
                            </div>
                        </div>
                        <div class="sector-top" *ngIf="!assignedToMenu" (click)="toggleAssignedToMenu($event)">
                            <p>{{ feedbackMessageMembers }}</p><img src="../../assets/img/arrow_down.png">
                        </div>
                    </div>
                </div>
            </div>
            <!--  Assigned To section  -->

            <div class="middle-gap"></div>
            <div class="right-container width-unset">
                <div class="right-container-mobile">
                    <div class="features-container">
                        <label for="date">Due Date</label>
                        <input class="date" type="date" [min]="minDate" formControlName="due_date">
                    </div>

                    <!-- Prio section -->
                    <div class="features-container">
                        <label>Prio</label>
                        <div class="prio-btn-container">
                            <button class="prio-btn" *ngIf="!prioUrgent" (click)="setPriority('urgent')">Urgent <img
                                    src="../../assets/img/prio_urgent.png"></button>
                            <img class="prioHoverImage" *ngIf="prioUrgent"
                                src="../../assets/img/prio_urgent_btn.png">
                            <button class="prio-btn" *ngIf="!prioMedium" (click)="setPriority('medium')">Medium <img
                                    src="../../assets/img/prio_medium.png"></button>
                            <img class="prioHoverImage" *ngIf="prioMedium"
                                src="../../assets/img/prio_medium_btn.png">
                            <button class="prio-btn" *ngIf="!prioLow" (click)="setPriority('low')">Low <img
                                    src="../../assets/img/prio_low_white.png"></button>
                            <img class="prioHoverImage" *ngIf="prioLow"
                                src="../../assets/img/prio_low_btn.png">
                        </div>
                        <!-- Prio section -->

                        <!-- Subtask section -->
                        <div class="features-container" *ngIf="task">
                            <label>Subtasks</label>
                            <div class="subtask-container">
                                <input class="subtaskList subtask-input"placeholder="Add new subtask" #subtaskTitleInput>
                                <img class="plus-icon" src="assets/img/plus_icon.png"
                                    (click)="addSubtask(subtaskTitleInput.value); subtaskTitleInput.value='';" title="Create subtask">
                            </div>
                            <ul *ngFor="let subtask of task.subtasks">
                                <li>
                                    <span>{{ subtask.title }}</span>
                                    <img (click)="subtask.id !== undefined && deleteCurrentSubtask(subtask.id)"
                                        src="/assets/img/xicon.svg" alt="Remove Subtask" class="subtaskRemove" title="Delete subtask">
                                </li>
                            </ul>
                        </div>
                        <!-- Subtask section -->
                    </div>
                    <div class="submit-and-clear">
                        <div class="btn-clear" (click)="onClear()">Clear<img class="clear-img"
                                src="assets/img/iconoir_cancel.png">
                        </div>
                        <div><Button class="btn-createTask" (click)="onSubmitAndNavigate()">Save Task<img
                                    src="assets/img/icons_check.png"></Button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>