@import '../../shared/variables.scss';

.add-task-content {
    @include flex_center;
    @include width_height(100vw, 100vh);
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.add-task-menu {
    background: white;
    border-radius: 10px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    padding: 15px 50px;
    gap: 25px;
    height: 600px;
    overflow-y: auto;
}

.header-popup {
    @include space_between_center;
}

.close-header-popup {
    @include button_hover;
    height: 25px;
    padding: 10px;

    &:hover {
        background-color: $main_color_bright;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
    }
}

button {
    cursor: pointer;
}

.d-none {
    display: none !important;
}

.content-container {
    display: flex;
    gap: 50px;
}

span {
    @include font_size_weight(21px, 400);
}

.left-container {
    @include flex_direction_column;
    @include width_height(452px, 506px);
    gap: 10px;
}

.selection-container {
    @include flex_direction_column;
    gap: 10px;
}

.select-wrapper {
    @include flex_direction_column;
    padding: 0 !important;
}

input,
select,
.select-wrapper {
    @include font_size_weight(21px, 400);
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    padding: 13px 21px;
    background-color: white;
    outline: none;
}

.selected-contact {
    background-color: #abcdef;
    margin-right: 10px;
}

.category-inputs {
    position: relative;

    input {
        position: absolute;
    }

    .color-picker {
        @include width_height(40px, 45px);
        right: 89px;
        top: 2px;
        padding: 0px !important;
        border: none;
        cursor: pointer;
        outline: none;
    }
}

.category-wrapper {
    position: relative;
    margin-top: 50px !important;

    .each-category {
        @include align_items_center;
    }
}

.category-color {
    @include width_height(15px, 15px);
    @include margin_left_right(8%, auto);
    border-radius: 100%;
}

.member-category-wrapper {
    @include flex_direction_column;
    gap: 10px;
    padding: 10px;
    margin-top: 15px;

    p {
        margin: 0;
    }
}

.each-member-category {
    cursor: pointer;

    &:hover {
        color: $main_color_bright;
    }
}

.category-member-selection {
    height: 40px;
    position: absolute;
    top: 5px;
    cursor: pointer;

    &:hover {
        background-color: $main_color_bright;
        border-radius: 10px;
    }
}

.category-accept {
    right: 45px;
}

.category-cancel {
    right: 5px;
}

.postion-relative {
    position: relative;

    span {
        position: relative;
        top: 12px;
        padding: 9px;
        color: $main_color_bright;
    }
}

select {
    appearance: none;
    background: url(/assets/img/arrow.png) 96% / 3% no-repeat white;
    cursor: pointer;
}

textarea {
    @include font_size_weight(21px, 400);
    min-height: 119px;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    padding: 18px 21px;
    outline: none;
    resize: vertical;
}

select::-ms-expand {
    display: none;
}

.middle-gap {
    border-left: 1px solid #D1D1D1;
    height: 506px;
}

.right-container {
    @include flex_direction_column;
    @include width_height(452px, 506px);
    gap: 10px;
    position: relative;
}

.right-container-mobile {
    width: 100%;
}

.features-container {
    @include flex_direction_column;
    width: 100%;
    gap: 10px
}

.prio-btn-container {
    display: flex;
    width: 100%;
    gap: 10px;
}

.prio-btn {
    @include flex_center;
    @include width_height(100%, 51px);
    @include button_styles;
    flex-direction: row;
    gap: 10px;
    padding: 10px 10px;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    font-size: 21px;
    font-weight: 400;
    background-color: rgb(255, 255, 255);
    position: relative;

    &:hover {
        box-shadow: 0 4px 4px 0 rgb(0 0 0 / 25%);
        width: 110%;
    }
}

.sector-top {
    @include space_between_center;
    line-height: 0;
    font-size: 18px;
    padding: 5px 20px;
    cursor: pointer;

    img {
        height: 8px;
    }
}

.subtask-container {
    @include align_items_center;
    @include font_size_weight(21px, 400);
    flex-direction: row;
    gap: 10px;
    width: 100%;
    background-color: white;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    isolation: isolate;
}

.flex-center {
    @include align_items_center;
}

.width {
    width: 100%;
}

.subtask-input {
    border: 0px !important;
    width: 80%;
    outline: none;
    cursor: pointer;
}

.plus-icon {
    cursor: pointer;
}

.subtask-icons {
    cursor: pointer;
}

.gap-img-subtask {
    @include width_height(2px, 24px);
    background-color: #D1D1D1;
}

.submit-and-clear {
    @include justify_content_center;
    padding-top: 85px;

    button {
        font-size: 1.5rem;
        border-radius: 10px;
        padding: 18px 10px;
        margin-left: 25px;
        transition: background 255ms ease-in-out;
    }
}

.btn-createTask {
    background: $main_color_dark;
    @include flex_center;
    color: white;
    border: none;
    gap: 10px;
    font-weight: 700;
    transition: all 100ms ease-in-out;

    &:hover {
        background-color: $main_color_bright;
        border: 2px solid $main_color_bright;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
}


.btn-clear {
    @include button_styles;
    @include flex_center;
    gap: 10px;
    border: solid 1px $main_color_dark;
    font-size: 1.5rem;
    border-radius: 10px;
    padding: 18px 10px;
    margin-left: 25px;
    transition: background 255ms ease-in-out;
    color: $main_color_dark;
    width: 136px;

    &:hover {
        color: $main_color_bright;
        border: 2px solid $main_color_bright;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }
}

fieldset {
    border: none;
    padding: 0;
    margin: 0;
}

.category {
    @include align_items_center;
    padding: 7px 20px;
    cursor: pointer;

    &:hover {
        background-color: lightgray;
    }
}

.assigned-to {
    @include align_items_center;
    padding: 7px 20px;
}

.prevent-select {
    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;
    /* Standard syntax */
}

.assigned-to-wrapper {
    margin-bottom: 30px;
}

li {
    @include align_items_center;
}

@media(max-width:1200px) {
    .add-task-menu {
        height: 77%;
    }

    .btn-clear {
        margin-left: unset;
    }

    .submit-and-clear {
        padding: unset;

        button {
            white-space: nowrap;
        }
    }

    .left-container {
        height: unset;
    }

    .middle-gap {
        display: none;
    }

    .content-container {
        flex-direction: column;
        gap: 0;
    }

    .right-container {
        align-items: center;
        height: unset;
        margin-bottom: 30px;
    }

    .submit-and-clear {
        @include flex_center;
        position: unset;
    }

    label,
    input,
    textarea,
    p,
    .prio-btn,
    .submit-and-clear {
        font-size: 16px;
    }

    .select-wrapper {
        z-index: 3;
    }
}

@media(max-width: 1000px) {
    .add-task-mobile {
        z-index: 11;
        display: block !important;
        position: fixed;
        top: 18px;
        right: 27px;
        cursor: pointer;
    }

    .title-container {
        flex-direction: column;
    }

    .main-container {
        margin-top: 130px;
        margin-left: 0;
    }

    .headline-mobile {
        display: block !important;
        font-size: 16px;
    }

    .left-container {
        height: auto;
    }

    .contact-addTask-bottom {
        width: 108%;
    }
}

@media(max-width:600px) {

    .submit-and-clear {
        width: 100%;
    }
}

@media(max-width: 500px) {
    .add-task-menu {
        width: 100vw;
        padding: 15px 24px;
    }

    .main-container {
        margin-right: 0;
    }

    .width-unset {
        width: unset;
    }

    .contact-addTask-bottom {
        width: 100%;
    }
}

@media(max-width: 400px) {

    .submit-and-clear button {
        margin-left: 10px;
    }

    .prio-btn img {
        @include width_height(7px, 7px);
    }
}