<app-header></app-header>
<app-nav-bar></app-nav-bar>

<a class="arrow-left arrow-left-legal-notice" (click)="goBack()"><img src="assets/img/arrow_left.png"
        alt="Return to last page" title="Return to last page"></a>
<a class="arrow-left-mobile d-none" (click)="goBack()"><img src="assets/img/arrow_left_mobile.png" alt="Return to last page" title="Return to last page"></a>
<div class="headline-mobile d-none width">Kanban Project Management Tool</div>

<div class="main-content">
    <div class="text-container">

        <h1>Legal notice</h1>
        <h2>Information according to § 5 TMG:</h2>
        <p><br>Alexander Peil</p>
        <h3>Postal address:</h3>
        <p>Westendstraße 29<br>77933 Lahr<br></p>
        <h3>Contact:</h3>
        <p>Telephone: 078256869895<br>E-Mail: info@alexander-peil.de</p>
        <p></p>
        <p><br></p>
        <p></p>
        <h2>Notes on the website</h2>
        <p></p>
        <h2>Information according to § 36 VSBG</h2>
        <p>In accordance with § 36 VSBG (Consumer Dispute Resolution Act - Act on Alternative Dispute Resolution in Consumer Matters), 
            the operator of this website declares:</p>
        <p>We are neither willing nor obliged to participate in dispute resolution proceedings before a consumer arbitration board
            to participate.</p>
        <p></p>
        <p><em>The imprint was created with the <a
                    href="https://www.activemind.de/datenschutz/impressums-generator/">Impressums-Generator der
                    activeMind AG</a> erstellt.</em></p>


    </div>