<app-header></app-header>
<app-nav-bar></app-nav-bar>

<a class="arrow-left arrow-left-legal-notice" (click)="goBack()"><img src="assets/img/arrow_left.png"
        alt="arrow-back"></a>
<a class="arrow-left-mobile d-none" (click)="goBack()"><img src="assets/img/arrow_left_mobile.png" alt=""></a>
<div class="headline-mobile d-none width">Kanban Project Management Tool</div>

<div class="main-content">
    <div class="text-container">

        <h1>Impressum</h1>
        <h2>Angaben gemäß § 5 TMG:</h2>
        <p><br>Alexander Peil</p>
        <h3>Postanschrift:</h3>
        <p>Westendstraße 29<br>77933 Lahr<br></p>
        <h3>Kontakt:</h3>
        <p>Telefon: 078256869895<br>E-Mail: info@alexander-peil.de</p>
        <p></p>
        <p><br></p>
        <p></p>
        <h2>Hinweise zur Website</h2>
        <p></p>
        <h2>Information gemäß § 36 VSBG</h2>
        <p>Gemäß § 36 VSBG (Verbraucherstreitbeilegungsgesetz – Gesetz über die alternative Streitbeilegung in
            Verbrauchersachen) erklärt der Betreiber dieser Website:</p>
        <p>Wir sind weder bereit noch verpflichtet, an Streitbeilegungsverfahren vor einer Verbraucherschlichtungsstelle
            teilzunehmen.</p>
        <p></p>
        <p><em>Das Impressum wurde mit dem <a
                    href="https://www.activemind.de/datenschutz/impressums-generator/">Impressums-Generator der
                    activeMind AG</a> erstellt.</em></p>


    </div>