<div class="card-task-container">
    <div class="task-column" *ngIf="task">
        <div class="card-task-close">
            <div class="card-task-category" [style.background-color]="task.category.color">{{ task.category.name }}
            </div>
            <img src="../../assets/img/xicon.svg" alt="Close Card-Task" (click)="closeDialogTaskMenu()">
        </div>
        <h2>{{ task.title }}</h2>
        <p>{{ task.description }}</p>
        <div class="taskMiddleContent">
            <div><strong>Due Date:</strong> {{ task.due_date }}</div>
            <div><strong>Priority:</strong><img class="prio-img" [src]="getPriorityImage(task.priority)"></div>
            <div>
                <strong>Status:</strong>
                <select class="currentStatus" [(ngModel)]="task.status" (change)="updateTaskStatus(task.status)">
                    <option *ngFor="let status of statuses" [value]="status">{{status}}</option>
                </select>
            </div>
            <div>
                <strong>Assigned To:</strong>
                <div class="users">
                    <div>
                        <div class="assigned-contact" *ngFor="let contact of task.assigned_to">
                            <p class="circle" [style.background-color]="contact.color">
                                {{ getInitials(contact.firstname, contact.lastname) }}
                            </p>
                            <p>
                                {{ contact.firstname }} {{ contact.lastname }}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <strong>Subtask:</strong>
                <div class="subtaskInputs" *ngFor="let subtask of task.subtasks">
                    <input title="Click on subtask to edit" type="text" [(ngModel)]="subtask.title" (blur)="subtask.id !== undefined && subtask.title !== undefined && updateSubtaskTitle(subtask.id, subtask.title)">
                    <input type="checkbox" [checked]="subtask.checked" (change)="subtask.id !== undefined && subtaskChecked(subtask.id, $event)">
                </div>
            </div>
        </div>
        <div class="card-task-bottom">
            <a class="edit-task" (click)="editTask(task.id)"></a>
            <div class="delete-task" (click)="deleteTask(task.id)"></div>
        </div>
    </div>
</div>