@import '../../shared/variables.scss';

.d-none {
    display: none;
}

.content {
    @include flex_column_center;
    @include width_height(100%, 100vh);
}

.join-logo {
    @include width_height(100px, 120px);
    position: absolute;
    top: 67px;
    left: 77px;    
    object-fit: contain;
}

.start-bg {
    z-index: 10;
    animation: animation-bg 1s ease-in-out;
    animation-direction: normal;

    @keyframes animation-bg {
        0% {
            opacity: 0%;
        }

        20% {
            opacity: 0%;
        }

        100% {
            opacity: 100%;
        }
    }
}

.logo-animation {
    animation: start-logo-animation 1s ease-in-out;
    animation-direction: normal;
    z-index: 11;

    @keyframes start-logo-animation {
        0% {
            @include width_height(274px, 334px);
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        20% {
            @include width_height(274px, 334px);
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        100% {
            width: 100px;
            top: 80px;
            left: 77px;
        }
    }
}

.heading-span {
    @include font(61px, 700, 73.2px);
    margin-top: -50px;
    letter-spacing: 0em;
    text-align: center;
}

::placeholder {
    @include font(18px, 400, 25.2px);
    color: #D1D1D1;
}

.input-email-pw {
    @include align_items_center;
    @include width_height(422px, 51px);
    gap: 10px;
    border-radius: 10px;
    border: 1px solid #D1D1D1;
    padding: 13px 21px;
    box-sizing: border-box;
}

.input-name-img {
    background-image: url(/assets/img/sign_up_name_img.png);
    background-repeat: no-repeat;
    background-position: calc(100% - 15px);
}

.input-email-img {
    background-image: url(/assets/img/input_email_img.png);
    background-repeat: no-repeat;
    background-position: calc(100% - 15px);
}

.input-password-img {
    background-image: url(/assets/img/input_pw_img.png);
    background-repeat: no-repeat;
    background-position: calc(100% - 15px);
}

.back-img {
    cursor: pointer;
    position: absolute;
    top: 30px;
    left: 50px;
}

form {
    @include column_center;
    gap: 35px;
    position: relative;
    padding: 70px 0 35px 0;
    width: 652px;
    background-color: white;
    box-shadow: 0 0 14px 3px rgba(0, 0, 0, 0.04);
    border-radius: 30px;
}

.sign-up-btn {
    @include width_height(145px, 51px);
    @include button_styles;
    border-radius: 8px;
    padding: 4px 0;
    gap: 10px;
    background-color: #2A3647;
    color: white;
    border: none;

    &:not([disabled]):hover {
        background: #29ABE2;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        transition: all 125ms ease-in-out;
    }

    &[disabled] {
        cursor: not-allowed !important;
        filter: contrast(0.5);
    }
}

.msg-box {
    @include font_size_weight(22px, 700);
    text-align: center;
    color: $main_color_bright;
}

.privacyPolicySection {

    input {
        cursor: pointer;
    }

    a {
        text-decoration: none;
        color: $main_color_bright;
    }
}

.signedUpInfo {
    position: absolute;
    bottom: 28px;
    width: 250px;
}

@media(max-width:700px) {
    .join-logo {
        top: 37px;
        width: 70px;
    }

    .underline {
        display: none;
    }

    .input-email-pw {
        width: 285px;
    }

    .heading-span {
        font-size: 47px;
    }

    .underline-mobile {
        display: block;
        margin-top: -20px;
    }

    .back-img-web {
        display: none;
    }

    form {
        width: 320px;
    }

    .back-img-sign-up-mobile {
        display: block !important;
        position: absolute;
        top: 30px;
        left: 25px;
    }

    .back-img {
        display: none;
    }

    .logo-animation {
        animation: none;
    }

    #animation-mobile {
        @include width_height(100%, 100%);
        display: block;
        position: fixed;
        z-index: 21;
        object-fit: cover;
        animation: mobile;
        animation-duration: 3000ms;

        @keyframes mobile {
            0% {
                visibility: visible;
            }

            50% {
                visibility: visible;
            }

            100% {
                visibility: hidden;
            }
        }
    }

    .animation-stop {
        display: none !important;
    }


    @media(max-width: 400px) {
        .join-logo {
            @include width_height(40px, 104px);
            top: 10px;
            left: 41px;
        }

        .content {
            height: 90vh;
        }
    }
}