<div class="start-bg">
  <div class="content">

    <!-- Reset-Password form -->
    <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
      <span class="heading-span heading-span-forgot-pw">Reset password</span>
      <img class="underline" src="assets/img/underline.png" alt="underline">
      <img class="underline-mobile d-none" src="assets/img/log_in_underline_mob.png" alt="">
      <span class="span-font">
        Please enter a password with at least 8 characters.
      </span>

      <input class="input-email-img input-email-pw input-email-forgot-pw" type="password" placeholder="Passwort"
        formControlName="password">

        <input class="input-email-img input-email-pw input-email-forgot-pw" type="password" placeholder="Passwort"
        formControlName="confirmPassword">
      <div class="warning" *ngIf="resetPasswordForm.errors?.['notSame'] && resetPasswordForm.get('confirmPassword')?.touched">
        Passwords do not
        match.</div>

      <button type="submit" class="send-email-btn btn-font send-email-btn-font"  [disabled]="isButtonDisabled">Save new password</button>
      <a class="backToLogin" routerLink="/login" href="">Return to Login</a>
    </form>

    <!-- Texts for error and success -->
    <div class="messageContainer">
      <span class="msg-box success" [class.d-none]="!passwortResetSuccess">You successfully reset your password.</span>

      <span class="msg-box warning" [class.d-none]="!passwortResetSuccessFail">
        <p>Something went wrong. <br></p>
        <p>Please try again.</p>
      </span>

    </div>
  </div>
</div>