<div class="start-bg">
    <div class="content">
        <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
            <span class="heading-span heading-span-forgot-pw">Reset password</span>
            <img class="underline" src="assets/img/underline.png" alt="underline">
            <img class="underline-mobile d-none" src="assets/img/log_in_underline_mob.png" alt="">
            <span class="span-font">
                Please enter a password with at least 8 characters.
              </span>
            <input class="input-email-img input-email-pw input-email-forgot-pw" type="password" placeholder="Passwort" formControlName="password">
            <button type="submit" class="send-email-btn btn-font send-email-btn-font">Send me the email</button>
            <a class="backToLogin" routerLink="/login" href="">Return to Login</a>
          </form>
          <span class="msg-box" [class.d-none]="!passwortReset">You successfully reset your password.</span>
    </div>
</div>